<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <display-name>shop-dot-com</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  
  <!-- Start Admin Controller -->
  	<servlet>
	    <servlet-name>AdminController</servlet-name>
	    <servlet-class>Controllers.AdminController</servlet-class>
	</servlet>
	
	<servlet-mapping>
	    <servlet-name>AdminController</servlet-name>
	    <url-pattern>/loginAdmin</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping> 
		<servlet-name>AdminController</servlet-name>
		<url-pattern>/registerAdmin</url-pattern>
	</servlet-mapping>
	
	<!-- End of Admin Section -->
	
	<!-- Seller Controller -->
	<servlet>
	    <servlet-name>SellerController</servlet-name>
	    <servlet-class>Controllers.SellerController</servlet-class>
	</servlet>
	
	<servlet-mapping>
	    <servlet-name>SellerController</servlet-name>
	    <url-pattern>/loginSeller</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping> 
		<servlet-name>SellerController</servlet-name>
		<url-pattern>/registerSeller</url-pattern>
	</servlet-mapping>
	<!-- End of seller controller -->
	
	<!-- User Controller -->
	<servlet>
	    <servlet-name>UserController</servlet-name>
	    <servlet-class>Controllers.UserController</servlet-class>
	</servlet>
	
	<servlet-mapping>
	    <servlet-name>UserController</servlet-name>
	    <url-pattern>/loginUser</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping> 
		<servlet-name>UserController</servlet-name>
		<url-pattern>/registerUser</url-pattern>
	</servlet-mapping>
	<!-- End of user controller -->
	
  
</web-app>